.table__tableData{
    display: flex;
    border: 10px solid rgb(182,114,51);
}
.invert{
    display:flex;
    flex-direction: column-reverse;
}
.notinvert{
    display: flex;
    flex-direction: column;
}

.img:nth-child(odd){
    background-color: red;
    border: red;
}
.img:nth-child(even){
    background-color: blue;
    border: blue;
}
.heading{
    color:whitesmoke;
    font-size: 100px;
    /* background-color: rgba(0,0,0,0.2); */
    /* border: 2px solid white; */
  }