.home {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-top: 1rem;
    padding-top: 5%;
}

.home__header {
    font-size: 200px;
    color:whitesmoke;
}

.home__buttonContainer {
    display: flex;
    flex-direction: row;
}

.home__cropsButton {
    color:whitesmoke;
    background-color: rgb(92, 184, 92);
    border-radius: 5px;
    margin-right: 10px;
    padding:100px;
}

.home__weedsButton {
    color:whitesmoke;
    background-color: rgb(240, 173, 78);
    border-radius: 5px;
    margin-right: 10px;
    padding:100px;
    
}
.home__detectButton {
    color:whitesmoke;
    background-color: rgb(240,78,91);
    border-radius: 5px;
    margin-right: 10px;
    padding:100px;
}
.home__cropsButton:hover{
    border: 4px solid white;
    background-color: rgba(92, 184, 92,0.5);
}
.home__weedsButton:hover{
    border: 4px solid white;
    background-color: rgba(240, 173, 78,0.5);
}
.home__detectButton:hover{
    border: 4px solid white;
    background-color: rgba(240, 78, 91,0.5);
}

/* .home__button{
    padding-left:5%;
    padding-right: 5%;
    padding-top:2.5%;
    padding-bottom: 2.5%;
} */

.home__button > .MuiButton-label {
    color:whitesmoke;
    font-size: 20px;
    
}


