.home {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-top: 1rem;
}

.home__header {
    font-size: 100px;
}

.home__buttonContainer {
    display: flex;
    flex-direction: row;
}

.home__cropsButton {
    background-color: #5cb85c;
    border-radius: 5px;
    margin-right: 10px;
}

.home__weedsButton {
    background-color: #f0ad4e;
    border-radius: 5px;
    margin-right: 10px;
}
.home__detectButton {
    background-color: #f04e5b;
    border-radius: 5px;
    margin-right: 10px;
}

.home__cropsButton > .home__button > .MuiButton-label {
    color: white;
}
