.table {
    display: grid;
    place-items: center;
    margin-top: 1rem;
    font-size: 50px;
}

.table__buttonsContainer {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}

.table__tableData {
    margin: 1rem 0;
}

.table__header {
    display: flex;
    background: black;
    color: white;
    width: 80vw;
    justify-content: space-evenly;
    padding: 10px;
}

.table__header > p {
    font-size: 20px;
}

.table__button {
    display: flex;
    border-radius: 5px;
}

.table__buttonText > .MuiButton-label {
    color: rgb(5, 5, 5);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
    font-size: 2.5rem;
  }
  tr{
    border: 2px solid #020202;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  tr:nth-child(odd  ) {
    background-color: #dddddd;
  }

  .class_border button{
      border:2px solid red;
  }
  .class_border:hover button{
    background-color: rgba(255,0,0,0.5);
  }

    .class_border_add button{
        border:2px solid green;
    }
    .class_border_add:hover button{
      background-color: rgba(0,255,0,0.5);

}
